<%- include('header') -%>

<h2>About Page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos praesentium corrupti natus alias sequi ratione voluptatibus ex, et eum placeat, est perspiciatis facere, recusandae quibusdam a! Consequatur, neque? Consectetur, neque?</p>


<%- include('footer') -%>